li {
  font-size: 20px;
  color: red;
  max-height: 400px;
  font-family: 'Josefin Sans', sans-serif;
}

.row {

}


.container {
  background-color: white;
  border: 2px solid black;
  padding: 50px;
  border-radius: 10px 10px 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  /*opacity: 0.9;*/
}

body {
  background-image: url(../img/pingpong.jpg);
}

.jumbotron {
font-family: 'Knewave', cursive;
font-size: 70px;
background-color: white;
color: black;
border: 5px solid red;
}

#formOne {
  position: fixed;
}

.btn {
  border: 5px solid red;
  font-weight: bolder;
}

.btn:hover {
  border: 5px solid red;
  background-color: red;
  color: white;
  font-weight: bolder;
}

btn:after {
  border: 5px solid red;
  background-color: red;
  color: white;
  font-weight: bolder;
}

.row {
  padding: 20px;
}
